pydantic==2.9.2
pytest==8.3.3
Django==4.2
redis==5.0.7
kombu==5.4.0
celery==5.4.0
django-celery-beat==2.5.0
pillow==10.4.0
requests==2.32.3
django-storages==1.13.2
boto3==1.35.28
pyyaml==6.0.2
Telethon==1.30.0
psycopg2-binary==2.9.6
easyocr
vk_api